.section-project{
    margin-top: 50px;
    margin-bottom: 100px;
    .project-container{
        .project-header{
            h1{
                text-align: center;
                margin-bottom: 50px;
                color: #9c5451;
                font-size: 35px;
                line-height: 61px;
                font-family: "Playfair Display", serif;
                font-weight: 400;
                vertical-align: baseline;
            }
        }
        .project-main{
            .project-row{
                
                .project-col{
                    position: relative;
                    color: #ffffff;
                    border: 1px solid #222;
                    transition: 0.4s;
                    cursor: pointer;
                    
                    &:hover{
                        
                        img{
                            opacity:0.5;
                        }
                        .project-text{
                            span{
                                i{
                                    display: block;
                                    
                                }
                            }
                          
                            
                        }
                    }
                    img{
                        width: 100%;
                        height: auto;
                        // height: 350px;
                        padding: 16px 5px;
                        object-fit: cover;
                        
                    }
                    .project-text{
                        margin-left: 20%;
                        position: absolute;
                        bottom: 8px;
                        left: 16px;
                        padding: 20px;
                        vertical-align: baseline;
                        text-align: center;
                        
                        h2{
                            font-size: 25px;
                            font-weight: 400;
                            font-family: "Playfair Display", serif;
                        }
                        h3{
                            
                            font-family: "Playfair Display", serif;
                            font-size: 20px;
                            font-weight: 400;
                            line-height: 35px;

                        }

                        span{
                            i{
                                font-size: 30px;
                                color: #9c5451;
                                display: none;


                            }
                        }
                     
                    
                    }
                   
                     
                }
            }
        }
    }

}